body{
  Background-color: #383058;
  Color:Write;
  margin:0;
  padding:10;
  font-size:16px;
  display:flex;
  alingn-items:center;
}
.calculadora{
  background-color:#2fb39;
  with:252px;
  edge:5px;

  
